body {
    background-color: #121212;
}

h1, h2, h3, h4, h5 {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

p {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

.barItem {
    margin-left: 5px;
    margin-right: 5px;
}