body {
    background-color: #121212;
}

h1, h2, h3, h4, h5 {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

p {
    color: #E1E1E1;
    font-family: Poppins, sans-serif;
}

.barItem {
    margin-left: 5px;
    margin-right: 5px;
}

.barItem a {
    text-decoration: none;
}

hr.transition  {
    border: none;
}

.skillsIcon {
    width: 64px;
    height: 64px;
    margin: 1%;
}

.xpDiv {
    border: 4px solid #E1E1E1;
    border-radius: 10px;
    margin-bottom: 50px;
    height: 400px;
}

.xpPin {
    width: 175px;
    height: 175px;
    margin:auto;
    display:block;
}